* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: #09090b;
    color: rgb(255, 255, 255);
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 40px;
    color: #fafafa;
    font-weight: bold;
}

span {
    color: #0eda59;
}

p {
    color: #3d3d97;
    margin: 10px;
    font-weight: 700;
}

textarea {
    resize: none;
    width: 100%;
    max-width: 640px;
    padding: 17px;
    border: 9px solid blueviolet;
    border-radius: 10px;
    outline: none;
    background: #388f58;
    color: rgb(255, 255, 255);
    font-size: 19px;
}

button {
    width: 100%;
    max-width: 640px;
    background: #22c55e;
    font-size: 17px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    padding: 14px;
    margin-top: 20px;
    color: rgb(0, 0, 0);
}

button span {
    display: inline-block;
    transition: transform 0.15s ease-in-out;
}

button:active span {
    animation: rocket 0.15s ease-in-out;
}

@keyframes rocket {

    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-14px);
    }
}
.bloco-codigo{
    background: rgb(41, 34, 34);
    border: 1px solid #27272a;
    border-radius: 12px;
    font-size: 14px;
    color: #34d399;
    line-height: 1.9;
    overflow: auto;
    padding: 16px;
    min-height: 50px;
    max-height: 350px;
    flex: 1;
}
.resultado{
    min-height: 350px;
    border: 2px solid blue;
    border-radius: 12px;
    background: #27272a;
    flex: 1;
}
div{
    display: flex;
    gap: 10px;
    margin: 20px;
    width: 100%;
    max-width: 1280px;
}

@media (max-width: 768px) {
    div {
        flex-direction: column;
    }
    
    body {
        padding: 10px;
    }
    h1{
        font-size: 35px;
        text-align: center;
    }
}
